/* header*/ 

header{
    width:1200px;
    border-width:2px 0px 0px 0px;
    border-color:#7e4a7c;
}

/* principale*/
body * {
	box-sizing: border-box; /* On spécifie que la largeur (width) de chaque boîte comprend le padding et la bordure (par défaut, c'est seulement la largeur du contenu) */
}

html {
	font-size: 62.5%; /* 1rem = 10px (la formule est 10/16*100) la taille par défaut étant 16px */
}

body {
	font-size: 1.6rem; /* on remets la taille du texte par défaut pour le body à 16px en utilisant les rem comme unité) */
	width:1200px;
}

body {
	margin: 0;
	padding: 0;
	line-height: 1.5;
	font-family: sans-serif;
	color: #555;
	background-color: white;
}

.container {
  margin: 0 auto;
  width: 1200px;
  padding: 1em;
  
}

body, p, ul, ol, li, h3, .about{
    margin: 0;
    padding: 0;
}

/*main */

.center{
    margin:auto;
    display:block;
}

.about{
    display:flex;
    flex-wrap: nowrap;
}

.groupe{
    margin-left:-10px;
    

}

.lorem{
    display:flex;
    width:80%;
}

.whyus{
    margin-left:50px;
}

.teachers{
    margin-left:-20px;
}

.photo{
    display:flex;
    flex-wrap:nowrap;
}

ul{
    line-height:2em;
}


.menu {
    display: flex;
    padding:0;
    background-color: #7e4a7c;
    justify-content:space-around;
    text-decoration: none;
    color:#fff;
    font-weight:600;
    text-transform:uppercase;
    font-family:Economica;
}
.menu li{
    list-style-type: none ;
}

.menu a {
    display:block;
    min-width: 150px;
    margin: 0.5rem;
    padding: 0.4rem 0;
    text-align: center;
    color: white;
    text-decoration: none;
}

.menu a:hover {
  background-color: #fff;
  color: #7e4a7c;
}

h1{
    text-align:center;
    color:#7e4a7c;
    font-size:5rem;
    font-family:Economica;
}

h2{
    text-align:left;
    color:#b878b5;
    font-size:4rem;
    font-family:Economica;
}

h3{
    color:#7e4a7c;
    font-size:4rem;
    font-family:Economica;
}

cite{
    color:#b878b5;
}

p{
   
    padding:5px;
}

button{
    font-weight:700;
    background-color:#7e4a7c;
    border:0;
    color:white;
    min-width:75px;
    min-height:50px;
    font-size:20px;
    margin-top:10px;
    text-transform: uppercase;
    font-family:Economica;
}
.whyus ul li:before {
    content: url('../instructions/images/puce-fleche.png');
    margin-right: 6px;
}
ul li{
    list-style-type:none;
}


thead{
    background-color: #7e4a7c;
    font-family:Economica;
    font-size:2rem;
    color: white;
}

th , td{
    border: 1px solid #b878b5;
    padding: 15px 58px 15px 58px;
    text-align: center;
}

td:empty{
    background-color: #ffeefe;
}

.space{
    border-collapse: collapse;
}





/*footer */
.footer {
    text-align: center;
	color: #fff;
	background-color: #444;
	padding: 2em;
}